<div class="row">

  <!-- <div>
    <div *ngIf="announcements?.length === 0" class="row no-announcements">
      <div class="container">
        <div class="jumbotron shadow">
          <h1 class="display-4 text-center">No announcements are waiting for approval</h1>
          <hr class="my-4">
        </div>
      </div>
    </div>
  </div> -->

  <div class="mx-auto">
    <div *ngIf="announcements?.length === 0">
      <div class="jumbotron shadow">
        <h1 class="text-center">No announcements are waiting for approval</h1>
        <hr class="my-4">
      </div>
    </div>
  </div>

  <div *ngIf="announcements?.length > 0" class="row mt-3 w-100">
    <app-announcement-card class="col-sm-6 col-md-4 mb-4" *ngFor="let announcement of announcements"
      [announcement]="announcement" (rejectAnnouncementEvent)="rejectAnnouncement($event)"
      (approveAnnouncementEvent)="approveAnnouncement($event)">
    </app-announcement-card>
  </div>

</div>
<div *ngIf="pagination.totalItems > 0" class="d-flex justify-content-center">
  <ngb-pagination [collectionSize]="pagination.totalItems" [directionLinks]=false [(page)]="pagination.currentPage"
    [pageSize]="pagination.itemsPerPage" [maxSize]="numberOfPages" [rotate]="true" [boundaryLinks]="true"
    (pageChange)="pageChange($event)">
    <ng-template ngbPaginationFirst>First</ng-template>
    <ng-template ngbPaginationLast>Last</ng-template>
    <ng-template ngbPaginationEllipsis>...</ng-template>
  </ngb-pagination>
</div>