@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/cerulean/bootstrap.css';
@import '../node_modules/font-awesome/css/font-awesome.css';
* {
  font-size: 1rem;
}

.carousel:focus {
  outline: none;
}

.carousel-inner {
  border-radius: 10px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* footer section */

#page-container {
  position: relative;
  min-height: 92vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  /* Footer height */
}

/* images gallery */

.ngx-gallery-icon-content {
  opacity: 0.5;
  color: grey;
}

/* scroll bar */

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #2FA4E7;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #157ab5;
}

/* box shadow on focus none */

input:focus, button:focus, a:focus {
  box-shadow: none !important;
}

/* user icons */

.rounded-circle {
  height: 50px;
  width: 50px;
}

.inbox-messsage {
	border: 1px solid #ddd;
	clear: both;
	overflow: hidden;
}

@media screen and (max-width: 1369px) {
  body {
    /* background-color: yellow; */
  }
  .navbar-brand img {
    height: 40px !important;
  }
  .card.h-100 {
    height: 80% !important;
  }
  .container {
    max-width: 1000px;
  }
  .subcategory-card-body {
    padding: 0 !important;
    height: 100px;
  }
  .message-history {
    height: 390px !important;
  }
  .inbox-chat.scroll {
    height: 455px !important;
  }
}

@media screen and (max-width: 576px) {
  body {
    /* background-color: lightblue; */
  }
  .inbox-chat.scroll {
    height: 160px !important;
  }
}

@media screen and (min-width: 576px) {
  body {
    /* background-color: green; */
  }
}

@media screen and (min-width: 768px) {
  body {
    /* background-color: red; */
  }
}

@media screen and (min-width: 1370px) {
  body {
    /* background-color: violet; */
  }
  .message-history {
    height: 475px !important;
  }
}