span.is-invalid, select.is-invalid {
    background-image: none;
}

.nv-file-over {
    border: dotted 3px red;
}

input[type=file] {
    color: transparent;
}

textarea {
    height: 150px;
}

.icon {
    width: 60px;
}

.description-icon {
    position: absolute;
    top: 13px;
    left: 38px;
}