<div class="message-history">
  <div *ngIf="messages?.length===0" class="mt-5 text-center">
    <h3>You have no previous conversation with this user.</h3>
  </div>
  <div *ngFor="let message of messages">
    <div *ngIf="message.senderId== recipientId">
      <div class="incoming-message-img"> <img src="../../../assets/user-logo.png"> </div>
      <div class="received-message-wrapper">
        <div class="received-message">
          <p>{{message.content}}</p>
          <span class="time-date"> {{message.messageSent |  date:'shortTime'}} |
            {{message.messageSent |  date:'MMMM d'}}</span>
        </div>
      </div>
    </div>

    <div *ngIf="message.senderId!= recipientId" class="outgoing-message">
      <div class="sent-message">
        <p>{{message.content}}</p>
        <span class="time-date"> {{message.messageSent |  date:'shortTime'}} |
          {{message.messageSent |  date:'MMMM d'}}
          <span *ngIf="!message.isRead" class="text-danger"><small><i class="fa fa-check-circle-o"></i></small></span>
          <span *ngIf="message.isRead" class="text-success "><small><i class="fa fa-check-circle"></i> </small></span>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="type-message">
  <div class="input-message">
    <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
      <input type="text" [(ngModel)]="newMessage.content" name="content" placeholder="Type a message"
        autocomplete="off" />
      <button class="btn-send-message" type="button" [disabled]="!messageForm.valid">
        <i (click)="sendMessage()" class="fa fa-paper-plane"></i>
      </button>
    </form>
  </div>
</div>