a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar-toggler:focus {
  outline: none;
}

.dropdown.mt-md-2.px-2 {
  cursor: pointer;
  border-left: 1px solid white;
}

.dropdown.mt-md-2.px-2:hover {
  background-color: white;
  border-radius: 5px;
  color: #2FA4E7 !important;
}

.nav-item a:hover {
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0 1px white;
}

.nav-item a {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
}

a.dropdown-toggle.dropdown-item:hover {
  background: none;
}

.dropdown-divider+.dropdown-item:hover {
  color: #fff !important;
}