<header>
  <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-dark bg-primary border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"><img src="assets/logo-white.png" style="height: 50px;" alt=""> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li *ngIf="loggedIn()" class="nav-item mr-2" routerLinkActive="active">
            <div class="py-1">
              <a class="nav-link px-2 text-white"
                (click)="openMyMessages()" style="cursor: pointer;">
                <i class="fa fa-comments"></i> My Messages</a>
            </div>
          </li>
          <li *ngIf="loggedIn()" class="nav-item mr-2" routerLinkActive="active">
            <div class="py-1">
              <a class="nav-link px-2 text-white"
                (click)="openMyAnnouncements()" style="cursor: pointer;">
                <i class="fa fa-bullhorn"></i> My Announcements</a>
            </div>
          </li>

          <li class="mr-2 ">
            <div *ngIf="loggedIn()"
              class="dropdown mt-md-2 py-1 px-2 text-white" dropdown>
              <a class="dropdown-toggle dropdown-item p-0" dropdownToggle>
                <i class="fa fa-user-circle-o"></i>
                Welcome {{authService.decodedToken?.unique_name | titlecase}}
              </a>
              <div class="dropdown-menu mt-2" *dropdownMenu>

                <a class="dropdown-item" (click)="openChangePassword()">
                  <i class="fa fa-unlock-alt"></i> Change Password</a>
                <div class="dropdown-divider"></div>

                <a *appHasRole="['Admin','Moderator']" class="dropdown-item" (click)="openAdminPanel()">
                  <i class="fa fa-id-card"></i> Admin Panel</a>
                <div *appHasRole="['Admin','Moderator']" class="dropdown-divider"></div>

                <a class="dropdown-item" (click)="logout()">
                  <i class="fa fa-sign-out"></i> Logout</a>
              </div>
            </div>
          </li>
          <li *ngIf="!loggedIn()" class="nav-item">
            <div class="py-1">
              <a class="nav-link px-2 text-white mr-2" (click)="openRegister()" style="cursor: pointer;">
                <i class="fa fa-user-plus"></i>
                Register
              </a>
            </div>
          </li>
          <li *ngIf="!loggedIn()" class="nav-item mr-2">
            <div class="py-1">
              <a class="nav-link px-2 text-white" (click)="openLogin()" style="cursor: pointer;">
                <i class="fa fa-sign-in"></i>
                Login
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>