<a (click)="goBack()" mat-button>
  <mat-icon>keyboard_return</mat-icon>
  <span>Back</span>

</a>
<div class="row">

  <div class="mx-auto">
    <div *ngIf="announcements?.length === 0">
      <div class="jumbotron shadow">
        <h1 class="text-center">No announcements here</h1>
        <hr class="my-4">
      </div>
    </div>
  </div>

  <div *ngIf="announcements?.length > 0" class="row mt-3 w-100 mx-auto">
    <app-announcement-card class="col-sm-6 col-md-4 mb-4" *ngFor="let announcement of announcements"
      [announcement]="announcement">
    </app-announcement-card>
  </div>
</div>
<div *ngIf="pagination.totalItems > 0" class="d-flex justify-content-center">
  <ngb-pagination [collectionSize]="pagination.totalItems" [directionLinks]=false [(page)]="pagination.currentPage"
    [pageSize]="pagination.itemsPerPage" [maxSize]="numberOfPages" [rotate]="true" [boundaryLinks]="true"
    (pageChange)="pageChange($event)">
    <ng-template ngbPaginationFirst>First</ng-template>
    <ng-template ngbPaginationLast>Last</ng-template>
    <ng-template ngbPaginationEllipsis>...</ng-template>
  </ngb-pagination>
</div>