<div *ngIf="messagesList?.length === 0" class="row">
  <div class="mx-auto">
    <div class="jumbotron shadow">
      <h1 class="text-center">You don't have any message</h1>
      <hr class="my-4">
    </div>
  </div>
</div>


<div *ngIf="messagesList?.length > 0" class="messaging ">
  <div class="inbox-messsage row">
    <div class="inbox-users col-11 col-md-4 mx-auto pb-3">
      <div class="heading-search">
        <div class="recent-heading">
          <h4>Recent</h4>
        </div>
      </div>
      <div class="inbox-chat scroll">
        <div *ngFor="let message of messagesList" class="chat-list"
          [ngClass]="{'active-chat' : message.userName===selectedUsername}">
          <a (click)="selectUser(message)" style="cursor: pointer;">
            <div class="chat-people">
              <div class="chat-img"> <img src="../../../assets/user-logo.png"> </div>
              <div class="chat">
                <h5>{{message.userName}}
                  <span class="text-right">
                    {{message.messageSent | date:'MMM d'}}
                    <br>
                    {{message.messageSent | date:'H:mm'}}
                  </span>
                </h5>
                <p>{{message.content}}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="messages col-11 col-md-8 mx-auto">
      <div *ngIf="!selectedUsername" class="mt-5 text-center">
        <h5>Select a user to start chatting :)
        </h5>

      </div>
      <div *ngIf="selectedUsername">
        <h2>{{selectedUsername | titlecase}}</h2>
        <mat-divider></mat-divider>
        <br>
        <app-user-messages (newMessages)='refreshMessages()'></app-user-messages>

      </div>
    </div>
  </div>
</div>