<div class="row">

  <div class="mx-auto">
    <div *ngIf="messagesList?.length === 0" class="row">
      <div class="container">
        <div class="jumbotron shadow">
          <h1 class="display-4 text-center">No messages here</h1>
          <hr class="my-4">
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="messagesList?.length > 0" class="col-md-4 mb-3">
    <h4>My messages</h4>
    <div *ngFor="let message of messagesList" class="mb-0 message">
      <a (click)="selectUser(message)" style="cursor: pointer;">
        <div class="row p-3">
          <div class="col-9">
            <strong>{{message.userName | titlecase}}</strong>
            <div class="message-content">
              {{message.content}}
            </div>
          </div>
          <div class="col-3 py-0 pl-0 text-right">
            <div class="datetime">
              {{message.messageSent | date:'MMM d, yy'}}
            </div>
            <div class="datetime">
              {{message.messageSent | date:'H:mm'}}
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div *ngIf="messagesList?.length > 0" class="col-md-8">
    <h4>Messages from {{selectedUsername | titlecase}}</h4>
    <app-user-messages (newMessages)='refreshMessages()'></app-user-messages>
  </div>
</div>