.container {
	max-width: 900px;
}

.inbox-users {
	background: #fff;
	float: left;
	overflow: hidden;
	width: 30%;
	border-right: 1px solid #ddd;
}

.inbox-messsage {
	border: 1px solid #ddd;
	clear: both;
	overflow: hidden;
}

.recent-heading {
	float: left;
	width: 40%;
}

.search-bar {
	display: inline-block;
	text-align: right;
	width: 60%;
}

.heading-search {
	padding: 10px 29px 10px 20px;
	overflow: hidden;
	border-bottom: 1px solid #c4c4c4;
}

.recent-heading h4 {
	color: #0465ac;
	font-size: 16px;
	margin: auto;
	line-height: 29px;
}

.search-bar input {
	outline: none;
	border: 1px solid #cdcdcd;
	border-width: 0 0 1px 0;
	width: 80%;
	padding: 2px 0 4px 6px;
	background: none;
}

.search-bar .input-group-addon button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	padding: 0;
	color: #707070;
	font-size: 18px;
}

.search-bar .input-group-addon {
	margin: 0 0 0 -27px;
}

.chat h5 {
	font-size: 15px;
	color: #464646;
	margin: 0 0 8px 0;
}

.chat h5 span {
	font-size: 13px;
	float: right;
}

.chat p {
	font-size: 12px;
	color: #989898;
	margin: auto;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.chat-img {
	float: left;
	width: 11%;
}

.chat-img img {
	width: 100%
}

.chat {
	float: left;
	padding: 0 0 0 5px;
	width: 88%;
}

.chat-people {
	overflow: hidden;
	clear: both;
}

.chat-list {
	border-bottom: 1px solid #ddd;
	margin: 0;
	padding: 18px 16px 10px;
}

.inbox-chat {
	height: 550px;
	overflow-y: scroll;
}

.active-chat {
	background: #e8f6ff;
}

.messages {
	float: left;
	padding: 30px 15px 0 25px;
	width: 70%;
}

.messaging {
	padding: 0 0 50px 0;
}

h2 {
	color: #0465ac;
}
